.footer{
    width: 100%;
    background: var(--dark-blue-form);
    height: 22.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2.4rem;
    margin-top: .8rem;
}

.footer a{
    color: var(--light-gray-color);
    text-decoration: none;
}

.clima-app{
    font-size: var(--p-jakarta);
    margin-top: 1.6rem; 
}

.advert{
    margin-top: 1.2rem;
    font-size: var(--p-small-14);
    text-align: center;
}

.api-link{
    font-size: var(--p-small-14);
    margin-top: 1.4rem;
}

.advert-support{
    margin-top: 2.2rem;
    font-size: var(--p-small-14);
}


.link-developer{
    margin-top: 1.4rem;
    font-size: var(--p-small-12);
}

@media only screen and (min-width: 768px){
    .footer{
        width: 100%;
    }

    .clima-app{
        font-size: var(--h4-jakarta);
    }

    .advert{
        width: 39rem;
    }

    .advert-support{
        font-size: var(--p-jakarta);
    }

    .api-link{
        font-size: var(--p-jakarta);
    }

    .link-developer{
        font-size: var(--p-jakarta);
    }
}

@media only screen and (min-width: 1280px){
    .footer{
        height: auto;
    }

    .clima-app{
        font-size: var(--h1-jakarta);
    }

    .advert{
        font-size: var(--p-jakarta);
        width: 41.7rem;
    }

    .api-link{
        font-size: var(--p-jakarta);
    }

    .api-link:hover{
        color: var(--green-light-hover);
        opacity: 1;
        transition-property: all;
        transition-duration: 1s;
    }

    .link-developer:hover{
        color: var(--green-light-hover);
        opacity: 1;
        transition-property: all;
        transition-duration: 1s;
    }
}