.title-forecast-today{
    padding-top: .4rem;
    font-size: var(--h4-jakarta);
    font-weight: 400;
}

.forecast-today-delay{
    width: 100%;
    height: 19rem;
    display: flex;
    flex-direction: row;
    overflow: auto;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    scroll-behavior: smooth;
}

@media only screen and (min-width: 768px){
    .title-forecast-today{
        font-size: var(--h2-jakarta);
        margin: 1.2rem 0;
    }   

    .forecast-today-delay{
        width: 68.1rem;
        height: 21.6rem;
        display: grid;
        grid-template-columns: repeat(5,16rem);
        gap: 1.6rem;
    }
}
