@import url('../App.css');

.general-data{
    width: 100%;
    height: 24.3rem;
    border-radius: 2.4rem;
    background: var(--second-blue-gradient);
    box-shadow: var(--box-component-shadow);
    margin-top: 6.8rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.general-location{
    display: flex;
    width: 73%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.general-city{
    font-size: var(--p-jakarta);
}

.general-date{
    font-size: var(--p-samll-12);
    margin-top: .8rem;
}

.general-temperature{
    font-size: var(--temp-pron-64);
    font-weight: 400;
    text-align: center;
}

.general-sensation{
    text-align: center;
    font-size: var(--p-samll-14);
}

.general-weather-cielo-claro, 
.general-weather-lluvia,
.general-weather-llovizna,
.general-weather-parcialLlueve,
.general-weather-nubes,
.general-weather-tormenta
{
    width: 7.6rem;
    height: 7.6rem;
    margin: 0 auto;
    background-image: url('../../assets/images/cielo-claro.png');
    background-size: cover;
}

.general-weather-lluvia{
    background-image: url('../../assets/images/lluvia.png');
}

.general-weather-llovizna{
    background-image: url('../../assets/images/llovizna.png');
}

.general-weather-parcialLlueve{
    background-image: url('../../assets/images/parcial-llueve.png');
}

.general-weather-nubes{
    background-image: url('../../assets/images/nubes.png');
}

.general-weather-tormenta{
    background-image: url('../../assets/images/tormenta.png');
}

@media only screen and (min-width: 768px) {
    .general-data{
        width: 48rem;
        height: 16.3rem;
        padding: 2rem 2.4rem;
        display: grid;
        grid-template:  2.5rem 7.4rem 2.6rem /23.8rem auto;
        grid-template-areas:"general-location . "
                            "general-temperature general-weather-image"
                            "general-sensation .";
        row-gap: .4rem;                    

    }

    .general-location{
        width: 40rem;
        margin: 0;
        align-self: flex-start;
        grid-area: general-location;
        display: flex;
        flex-direction: row;
    }

    .general-city{
        font-size: var(--h4-jakarta);
        width: auto;
    }

    .general-date{
        font-size: var(--p-small-14);
        margin-top: 0;
    }

    .general-temperature{
        align-self: flex-start;
        font-size: var(--temp-pron-72);
        grid-area: general-temperature;
        justify-self: flex-start;
    }

    .general-sensation{
        align-self: center;
        grid-area: general-sensation;
        justify-self: flex-start;
    }

    .general-weather-cielo-claro, 
    .general-weather-lluvia,
    .general-weather-llovizna,
    .general-weather-parcialLlueve,
    .general-weather-nubes,
    .general-weather-tormenta{
        align-self: flex-end;
        justify-self: center;
        margin: 0;
        grid-area: general-weather-image;
    }
  }


  @media only screen and (min-width: 768px){
    .general-data{
        height: 18.9rem;
        width: 59.1rem;
    }

    .general-temperature{
        font-size: var(--temp-pron-64);
    }

    .general-sensation{
        font-size: var(--p-small-14);
    }

    .general-weather-cielo-claro, 
    .general-weather-lluvia,
    .general-weather-llovizna,
    .general-weather-parcialLlueve,
    .general-weather-nubes,
    .general-weather-tormenta{
        width: 7.6rem;
        height: 7.6rem;
        justify-self: flex-end;
    }
  }

