@import url('../App.css');

.general-data{
    width: 100%;
    height: 21.3rem;
    border-radius: 2.4rem;
    background: var(--second-blue-gradient);
    box-shadow: var(--box-component-shadow);
    margin-top: .8rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.general-location{
    display: flex;
    width: 73%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.general-city{
    font-size: var(--p-jakarta);
}

.general-date{
    font-size: var(--p-samll-12);
}

.general-temperature{
    font-size: var(--temp-pron-64);
    font-weight: 400;
    text-align: center;
}

.general-sensation{
    text-align: center;
    font-size: var(--p-samll-14);
}

.general-weather-image{
    width: 7.6rem;
    height: 7.6rem;
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {
    .general-data{
        width: 48rem;
        height: 16.3rem;
        padding: 2rem 2.4rem;
        display: grid;
        grid-template:  2.5rem 7.4rem 2.6rem /23.8rem auto;
        grid-template-areas:"general-location . "
                            "general-temperature general-weather-image"
                            "general-sensation .";
        row-gap: .4rem;                    

    }

    .general-location{
        width: 23.8rem;
        margin: 0;
        align-self: flex-start;
        grid-area: general-location;
    }

    .general-city{
        font-size: var(--h4-jakarta);
    }

    .general-date{
        font-size: var(--p-small-14);
    }

    .general-temperature{
        align-self: flex-start;
        font-size: var(--temp-pron-72);
        grid-area: general-temperature;
        justify-self: flex-start;
    }

    .general-sensation{
        align-self: center;
        grid-area: general-sensation;
        justify-self: flex-start;
    }

    .general-weather-image{
        align-self: flex-end;
        justify-self: center;
        margin: 0;
        grid-area: general-weather-image;
    }
  }


