.weather-today-title{
    font-size: var(--h4-jakarta);
    font-weight: 400;
    margin-top: .8rem;
}

.weather-today-delay{
    width: 100%;
    height: 28.8rem;
    border-radius: 2.4rem;
    box-shadow: var(--box-component-shadow);
    background: var(--second-blue-gradient);
    margin-top: .8rem;
    padding: .8rem;
}

.weather-today{
    display: grid;
    height: 5.6rem;
    width: 12.7rem;
    margin: .8rem;
    grid-template-areas: "today-temp sunny"
                   "today-state sunny";
    margin: 0 auto;            
    
}

.weather-today-temp{
    font-size: var(--h1-jakarta);
    font-weight: 400;
    grid-area: today-temp;
}

.weather-general-state{
    font-size: var(--p-small-12);
    grid-area: today-state;
}

.weather-general-image{
    width: 5.6rem;
    height: 5.6rem;
    grid-area: sunny;
    align-self: center;
    justify-self: center;
}

.weather-general-data{
    width: 100%;
    height: 21.1rem;
    border-radius: 2.4rem;
    background: var(--light-blue-form);
    margin-top: .4rem;
    display: grid;
    grid-template: repeat(6, auto)/3.8rem 60% auto;
    align-items: center;
    padding: .8rem;
}

.weather-general-data{
    font-size: 1.4rem;
}

.weather-general-data img{
    width: 2.4rem;
    height: 2.4rem;
    justify-self: center;
}

.weather-general-data p{
    justify-self: center;
}

.weather-general-data img + p,
.weather-general-data img + p + p{
    justify-self: flex-start;
}

@media only screen and (min-width: 768px){
    .weather-today-title{
        font-size: var(--h2-jakarta);
        margin: 1.2rem 0;
    }    

    .weather-today-delay{
        width: 48rem;
        height: 25.8rem
    }    

    .weather-today{
        margin: 0;
        margin-left: 2.4rem;
    }

    .weather-today-temp{
        font-size: var(--h1-jakarta);
    }

    .weather-general-data{
        height: 18.4rem;
        grid-template: repeat(3,auto)/repeat(2,4rem 12.5rem auto);
        font-size: var(--p-small-14);
    }
}

@media only screen and (min-width: 1280px){
    .weather-today-delay{
        width: 59.2rem;
        height: 30rem;
    }

    .weather-today{
        width: 13.8rem;
        height: 5.4rem;
    }

    .weather-general-data{
        height: 22.5rem;
    }

    .weather-general-data p{
        font-size: var(--p-jakarta);
    }
}
