.main-container{
    width: calc( 100% - 48px );
    margin: 0 auto;
    z-index: 1;
}

@media only screen and (min-width: 768px){
    .main-container{
        width: 68.1rem;
        margin-left: 6.6rem;
        margin-top: 6.4rem;
    }
}

@media only screen and (min-width: 768px){
    .main-container{
        margin-left: 27.2rem;
        margin-top: 8rem;
    }
}
