.main-container{
    width: calc( 100% - 48px );
    margin: 0 auto;
    z-index: 1;
}

@media only screen and (min-width: 768px){
    .main-container{
        width: 68.1rem;
        margin-left: 1.6rem;
    }

}