:root{
  --light-gray-color: #FEFEFE;
  --gray-first-color: #F2F2F2;
  --gray-second-color: #DEDCDC;
  --gray-third-color: #C0C0C0;
  --black-color: #5B5656;
  --linear-gradient: linear-gradient(180deg, rgb(6.91, 59.07, 110.5) 0%, rgb(61.76, 85.22, 164.69) 100%);
  --linear-background: linear-gradient(
    180deg,
    rgb(0, 53.5, 106.25) 0%,
    rgb(35, 59.48, 142.38) 50%,
    rgb(2.1, 24.63, 100.94) 100%
  );
  --second-blue-gradient: linear-gradient(180deg, rgb(38.83, 59.13, 137.06) 0%, rgb(45, 68, 161) 100%);
  --dark-blue-form: #1A3084;
  --light-blue-form: #455EB1;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: .625rem;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body{
  color: var(--light-gray-color); 
}


.contenedor{
  background: var(--linear-gradient);
}